@import '~swiper/dist/css/swiper.min.css';

html, body {
  position: relative;
  height: 100%;
}
body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.back-drop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  padding: 66px 0 0;
  background-color: rgb(0, 0, 0);
  opacity: 0;
}
.back-drop.active {
  opacity: 1;
  z-index: 10;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FFF;
  font-size: 30px;
  background-color: transparent;
  border: 0;
}
.all-wrpper {
  width: 1000px;
  margin: 0 auto;
}
.gallery-top .swiper-slide {
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.gallery-top .swiper-slide img {
  height: 600px;
}
.gallery-thumbs {
  width: 900px;
  margin: 20px auto 0;
}
.gallery-thumbs .swiper-slide {
  overflow: hidden;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide img {
  width: 100%;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}